<launch>
	<node name="mantis2" pkg="mantis" type="mantis_test" output="screen">
		<rosparam file="$(find mantis)/params/map.yaml"/>
	</node>
	
	<node pkg="tf" type="static_transform_publisher" name="cam_link_pub1" 
			args="0 0 0 0 90 0 /bottom /base_link 100"/>
			
			
	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
	
</launch>
